<head>
    <meta charset="utf-8" />
    {{ if .IsHome -}}
    <title>{{ .Site.Title }}</title>
    {{- else -}}
    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
    {{- end }}
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}images/favicon.png" />
    <meta name="author" content="{{ .Site.Params.author }}" />
    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/moji.css" />

    <meta name="description" content="{{ .Description }}" />
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="{{ .Title }}" />
    <meta itemprop="description" content="{{ .Description }}" />
    <meta itemprop="image" content="{{ .Site.BaseURL }}images/favicon.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ .Description }}" />
    <meta name="twitter:image" content="{{ .Site.BaseURL }}images/favicon.png" />

</head>
