{{ define "main" }}
<main class="container">
  <ul class="featured-items">
    <li>
      <article class="featured-item">
        <img class="fi-image" src="{{ .Site.BaseURL }}images/icons/opensource.svg" alt="github icon" />
        <div class="">
          <h3 class="fi-title">open source</h3>
          <p class="fi-desc">Some small open-source projects I worked on in the past can be viewed on my <a href="https://github.com/seyedi">Github profile</a> and some are also listed here:</p>
          <ul class="fi-list">
            <li><a href="https://github.com/seyedi/Covering-Bad">Covering Bad</a></li>
            <li><a href="https://github.com/seyedi/image-effects">Image Effects Generator</a></li>
            <li><a href="https://github.com/seyedi/sharing-component">Sharing Component</a></li>
            <li><a href="https://github.com/seyedi/css-filters">CSS Filters Generator</a></li>
            <li><a href="https://github.com/seyedi/my-people">My People</a></li>
            <li><a href="https://github.com/seyedi/circular-menu">Circular Menu</a></li>
          </ul>
        </div>
      </article>
    </li>
    <li>
      <article class="featured-item">
        <img class="fi-image" src="{{ .Site.BaseURL }}images/icons/writing.svg" alt="writing icon" />
        <div class="">
          <h3 class="fi-title">writing</h3>
          <p class="fi-desc">List of over 400 articles authored by me at <a href="http://css-tricks.ir">css-tricks.ir</a>. All the CSS entries can be found at <a href="http://css-tricks.ir/reference/#modules">Reference page</a>. The reason behind this project is the desire to create a well-documented source about CSS and Front end development for Persian developers. <br> I also wrote <a href="https://css-tricks.com/5-awesome-sublime-plugins-wont-find-top-plugin-posts/">"5 Awesome Sublime Plugins you Won’t Find in Top Plugin Posts"</a> on css-tricks.com</p>
        </div>
      </article>
    </li>
    <li>
      <article class="featured-item">
        <img class="fi-image" src="{{ .Site.BaseURL }}images/icons/teaching.svg" alt="teaching icon" />
        <div class="">
          <h3 class="fi-title">teaching</h3>
          <p class="fi-desc">I have made 5 courses about web development in Farsi on these topics:</p>
          <ul class="fi-list">
            <li><a href="//cherry-picked.ir/web-intro/">Web Development Intro</a></li>
            <li><a href="//cherry-picked.ir/css-layout/">CSS Layout Fundamentals</a></li>
            <li><a href="//cherry-picked.ir/flexbox/">Flexbox</a></li>
            <li><a href="//cherry-picked.ir/sass/">Sass</a></li>
            <li><a href="//cherry-picked.ir/workflow-automation/">Workflow Automation with NPM Scripts</a></li>
          </ul>
          </p>
        </div>
      </article>
    </li>
    <li>
      <article class="featured-item">
        <img class="fi-image" src="{{ .Site.BaseURL }}images/icons/project.svg" alt="projects icon" />
        <div class="">
          <h3 class="fi-title">projects</h3>
          <p class="fi-desc">Below you see some of websites and pages that I've created:</p>
          <ul class="fi-list">
            <li><a href="//zaban-eshgh.ir/">Love language landing page</a></li>
            <li><a href="//discuss.css-tricks.ir/">Discussion panel like stack overflow</a></li>
            <li><a href="//css-tricks.ir/">A blog theme based on wordpress</a></li>
          </ul>
        </div>
      </article>
    </li>
    <li>
      <article class="featured-item">
        <img class="fi-image" src="{{ .Site.BaseURL }}images/icons/codepen.svg" alt="codepen icon" />
        <div class="">
          <h3 class="fi-title">my playground</h3>
          <p class="fi-desc">For a list of my Pens see <a href="https://codepen.io/seyedi">my profile</a>. Here is the recent ones:</p>
          <ul class="fi-list">
            <li><a href="https://codepen.io/seyedi/details/KvObJq">File Attachment Idea</a></li>
            <li><a href="https://codepen.io/collection/Dggzmr/">House of Cards</a></li>
          </ul>
        </div>
      </article>
    </li>
  </ul>
</main>
{{ end }}
